<div class="footer container-fluid mt-5 pt-5">
            <div class="row px-xl-5 pt-5 pb-4">
                <div class="footer_get_touch col-lg-4 col-md-12">
                    <div class="footer_name">
                        <h3>Get in touch</h3>
                        <p>No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>
                    </div>
                    <div class="footer_contact">
                        <p><i class="fas fa-map-marker-alt"></i>Liền Hà,Đông Anh, Hà Nội</p>
                        <p><i class="fas fa-envelope"></i>boychauphong2001@gmail.com</p>
                        <p><i class="fas fa-phone-alt"></i>0346663207</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 row">
                    <div class="quick_shop col-lg-4 col-md-4 col-sm-12">
                        <h3>Quick Shop</h3>
                        <ul>
                            <li><a href="#"><i class="fas fa-chevron-right"></i>Home</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i>Our Shop</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i>Shop Detail</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i>Shopping Cart</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i>Checkout</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i>Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="my_account col-lg-4 col-md-4 col-sm-12">
                        <h3>Quick Shop</h3>
                        <ul>
                            <li><a href="#"><i class="fas fa-chevron-right"></i>Home</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i>Our Shop</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i>Shop Detail</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i>Shopping Cart</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i>Checkout</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i>Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="newsleter col-lg-4 col-md-4 col-sm-12">
                        <h3>NEWSLETTER</h3>
                        <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                        <form action="#">
                            <input type="text" placeholder="Your Email Add">
                            <button>Sign Up</button>
                        </form>
                        <div class="follow">
                            <h3>Follow us</h3>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/bautroi.trongxanh.18/"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="far fa-camera"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>