<div class="container-fluid  contact px-xl-5 mt-5 ">
            <div class="contact_title">
                <h3>CONTACT US</h3>
            </div>
            <div class="mt-5">
                <div class="row">
                    <div class="col-lg-7 p-3">
                        <form action="">
                            <input type="text" name="customer_name" placeholder="Your name">
                            <input type="email" name="customer_email" placeholder="Your email">
                            <input type="text" name="customer_subject" placeholder="Subject">
                            <textarea name="message" name="customer_message" placeholder="Message"></textarea>
                            <button>Send message</button>
                        </form>
                    </div>
                    <div class="col-lg-5 p-3">
                        <div class="contact_map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d7442.584327199716!2d105.8994929!3d21.1407682!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1621260965820!5m2!1svi!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <div class="mt-5 contact_address">
                                <p><i class="fas fa-map-marker-alt"></i>Liên Hà,Đông Anh, Hà Nội</p>
                                <p><i class="fas fa-envelope"></i>boychauphong2001@gmail.com</p>
                                <p><i class="fas fa-phone-alt"></i>0346663207</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>